.header {
  position: sticky;
  top: 0;
  //position: relative;
  z-index: 2;
  //height: 6rem;
  //margin-top: -6rem;
  transition-property: margin-top;
  transition-duration: 200ms;
  transition-timing-function: var(--ease-expo);
  background-color: var(--color-1);
  will-change: margin-top;

  //&.open {
  //  margin-top: 0;
  //  transition-duration: 400ms;
  //}
}

.inner {
  height: 6rem;
  margin-top: -6rem;
  transition-property: margin-top;
  transition-duration: 200ms;
  transition-timing-function: var(--ease-expo);
  background-color: var(--color-1);
  will-change: margin-top;

  .open & {
    margin-top: 0;
    transition-duration: 400ms;
  }
}

.menu, .ads {
  position: absolute;
  top: 100%;
  //bottom: -2rem;
  //height: 2rem;
  //padding: 0 var(--spacing-s);
  padding: var(--spacing-s);
  background-color: var(--color-1);
  //text-transform: uppercase;
  font-family: var(--font-text), sans-serif;
  font-size: var(--font-size-m);
  color: var(--color-2);

  &:focus-visible {
    outline-offset: -0.15rem;
  }
}

.menu {
  left: 0;
  border-bottom-right-radius: 0.15rem;
}

.ads {
  right: 0;
  border-bottom-left-radius: 0.15rem;
}
