.header {
  position: relative;
  z-index: 2;
  height: 5rem;
  margin-top: -5rem;
  transition: margin-top 200ms  var(--ease-expo);
  background-color: red;

  &.open {
    margin-top: 0;
  }
}

.menu {
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 2rem;
  height: 2rem;
  font-size: var(--font-size-l);
}