//.card {
//  display: flex;
//  flex-flow: row wrap;
//  gap: var(--spacing-xs);
//  padding: 0 var(--spacing-m);
//  //border-top: var(--border-m) solid var(--color-3);
//}

.title {
  flex: 0 0 100%;
  margin: calc(var(--spacing-xs) + var(--spacing-m)) 0 var(--spacing-m) 0;
  text-transform: uppercase;
  font-weight: normal;
  font-family: var(--font-text-bold), sans-serif;
  font-size: var(--font-size-m);
}
//
//.button {
//  flex-direction: column;
//  justify-content: center;
//  gap: var(--spacing-xs);
//  position: relative;
//  z-index: 1;
//  padding: var(--spacing-xs);
//  background-color: var(--color-3);
//  border-radius: 0.3rem;
//  letter-spacing: 0.025rem;
//  text-transform: uppercase;
//  font-weight: normal;
//  font-family: var(--font-text-bold), sans-serif;
//  font-size: var(--font-size-s);
//  color: var(--color-1);
//  transition: box-shadow 100ms var(--ease-quad);
//
//  & + & {
//    margin-left: var(--spacing-xs);
//  }
//
//  &:focus-visible {
//    outline-offset: calc(-1 * var(--outline));
//  }
//
//  &:active {
//    box-shadow: 0 0 0 var(--shadow) var(--color-solid-3);
//  }
//}
//
//.icon {
//  font-size: var(--font-size-m);
//}

.card {
  //display: flex;
  //flex-direction: column;
  //animation:
  //  mainSlide 900ms var(--ease-quad),
  //  mainFade 900ms var(--ease-quad);
  // will-change: transform, opacity;
  //opacity: 0;
  //animation: mainSlide 900ms var(--ease-quad), mainFade 900ms var(--ease-quad);
  //animation: mainSlide 900ms var(--ease-quad) forwards, mainFade 900ms var(--ease-quad) forwards;
  animation-name: mainSlide, mainFade;
  animation-timing-function: var(--ease-quad);
  //animation: mainSlide 900ms var(--ease-quad), mainFade 900ms var(--ease-quad);

  &:nth-child(1) {
    animation-duration: 700ms, 900ms;
    //animation-delay: 0ms;
  }

  &:nth-child(2) {
    animation-duration: 900ms, 900ms;
    //animation-delay: 200ms;
  }

  &:nth-child(3) {
    //animation-delay: 400ms;
    animation-duration: 1100ms, 900ms;
  }

  &:nth-child(4) {
    //animation-delay: 500ms;
    animation-duration: 1300ms, 900ms;
  }

  &:nth-child(5) {
    //animation-delay: 500ms;
    animation-duration: 1500ms, 900ms;
  }
}

@keyframes mainSlide {
  0% {
    transform: translateY(1200px);
  }
  20% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mainFade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
