.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.label {
  font-size: 6rem;
}

.progressbar {
  width: 10rem;
  height: 2rem;
  border-radius: 0.188rem;
}

.inner {
  width: 0;
  height: 100%;
  background-color: var(--color-solid-2);
  border-radius: 0.125rem;
  transition: width var(--duration) ms var(--ease-quad);
  will-change: width;
}
